:root {
  color-scheme: light dark;
  color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 20px;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  cursor: pointer;
  transition: border-color 0.25s;
  color: whitesmoke;
  font-weight: 800;
  margin-right: 10px;
}

button:hover {
  color: yellow;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin-bottom: 0.2em;
  font-size: 1.3em;
}

code {
  display: block;
  color: #242424;
}

.alert-info {
  background-color: rgb(240, 240, 240);
  color: #242424;
  border-color: #242424;
}